
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-image: url('Background.jpg');
	background-color: black;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: flex;
	flex-direction: column;
    overflow-y: scroll;
    background-attachment: fixed;
	overflow-x: auto;
}

h1 {
	color: azure;
	font-size: 5rem;
	margin-bottom: 1.5rem;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 2rem;
}

h2 {
	color: azure;
	font-size: 3rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

h3 {
	color: azure;
}

h4 {
	color: azure;
}

h5 {
	color: azure;
}

h6 {
	color: azure;
	background-color: black;
	font-size: 20px;
}

p {
  color: azure;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 3rem;
	border-bottom: 7px solid rgb(130, 21, 21);
}

.header .nav-container {
	width: 100%;
}

.header nav {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.header nav a {
	display: block;
	margin-bottom: 10px;
	margin-right: 10px;
	align-items: center;
}

.hero {
    flex: 0 1 auto;
    display: flex;
	flex-direction: column;
    align-items: center;
	text-align: center;
  }
  
  .hero img {
    width: 100px;
    height: 100px;
    animation: rotate 2s linear infinite;
    transform-origin: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
  }

  .hero-content {
    margin-left: 20px;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
main {
	flex: 1 1 auto;
	max-width: 90vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

main > section {

}

main > section > h3 {

}

main > section p {
	font-size: 1rem;
}

main > section > div {

}

#about {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 2rem;
	padding: 2rem;
	box-sizing: border-box;
	border: 3px solid rgb(130, 21, 21);
}

#about h3 {
	margin: 2rem;
	border-bottom: 3px solid rgb(130, 21, 21);
	font-size: 1.5rem;
}

#work {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 2rem;
	padding: 2rem;
	box-sizing: border-box;
	border: 3px solid rgb(130, 21, 21);
}

#work h3 {
	margin: 2rem;
	border-bottom: 3px solid rgb(130, 21, 21);
	font-size: 1.5rem;
}

#contact {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 2rem;
	padding: 2rem;
	box-sizing: border-box;
	border: 3px solid rgb(130, 21, 21);
}

#contact h3 {
	margin: 2rem;
	border-bottom: 3px solid rgb(130, 21, 21);
	font-size: 1.5rem;
}


#work .app-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#work .app-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
	flex-basis: calc(50% - 1rem);
	height: 40vh;
	margin: 0.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5rem;
}

#work .app-section:first-child {
	height: 60vh;
	flex-basis: 100%;
    margin-bottom: 12rem;
}

#work .app1 img,
#work .app2 img,
#work .app3 img {
	width: 100%;
	height: auto;
	margin-top: 1rem;
    object-fit: contain;
}

#work .app1:hover {
    transform: scale(1.03)
}

#work .app2:hover,
#work .app3:hover {
  transform: scale(1.05);
}

footer {
	text-align: center;
    font-size: 1rem;
    margin-top: 5rem;
	border-top: 7px solid rgb(130, 21, 21);
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }

  #about,
  #work,
  #contact {
    background-attachment: fixed;
  }
}
