.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
}
header {
    background-color: brown;
    color: black;
}
h1 {
    color: azure;
}
h2 {
    color: azure;
}
p {
    color: azure;
}
h3 {
    color: azure;
}